<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name = "Service_Projek.Service1" behaviorConfiguration="smb">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="bind" behaviorConfiguration="smb_end" contract="Service_Projek.IService1">

        </endpoint>
      </service>
    </services>
    
    <bindings>
      <webHttpBinding>
        <binding name ="bind"  maxReceivedMessageSize="2147483647">

        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="smb">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="smb_end">
          <webHttp helpEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
